/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** Main ********/

body {
	font-size:62.5%;
	font-family: 'Lato', sans-serif;
}

.fixed-content {
	position:fixed;
	z-index: 10;
	width:100%;
	height:100%;
	margin:auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
/*Ставить текст в центр*/
.content {
	width:620px;
	margin:30px auto;
}
/*Розміщує тест в стовпчику*/
.content-text {
	position: relative;
	float:left;
	width:370px;
	
}
.device-frame {
	position: relative;
	float:left;
}
.device {
	width:266px;
	position: relative;
}
.device-slide {
	position:absolute;
	top:33px;
	left:10px;
	z-index: 15;
	text-align:center;
}
.device-slide1 {
	background:white;
	width:176px;
	height:325px;
	border:7px dashed grey;
	font-size:3em;
}
.slide {
	position: absolute;
	top:70px;
	left:100px;
	width:100%;
	z-index: 0;
}
.slide .animatable {
	opacity:0;
	-webkit-transform:translate(0,30px);
	transform:translate(0,30px);
	-webkit-transition:opacity 0.4s ease,-webkit-transform 0.4s ease;
	transition:opacity 0.4s ease,transform 0.4s ease;

}
.slide.active.remove .animatable {
	opacity:0;
	-webkit-transform:translate(0,-20px);
	transform:translate(0,-20px);
}

.slide.active .animatable {
	opacity: 0.9;
	-webkit-transform:translate(0,0);
	transform:translate(0,0);
}

.slide.active {
	z-index: 10;
}

h2 {
	font-size:5em;
	margin-bottom:20px
}
p {
	opacity: 1;
	font-size: 2em;
	line-height:1.4;
	margin-bottom:10px;
	font-family: Times New Roman, serif;
	font-style: italic;
	font-weight: bold;
}

a {
	text-decoration: none;
	font-size: 20px;
	opacity: 1;
	margin-bottom: 50px;
}

.arrow:before,
.arrow:after {
	content:'';
	position: absolute;
	right:0;
	top:4px;
	width:2px;
	height:12px;
	background: white;
}
.arrow:before {
	transform: rotate(45deg);
	top:12px;
}
.arrow:after {
	transform: rotate(-45deg);

}

.inner {
	position: relative;
	height:100%;

}
.text {
	color:black-text;;
}

.home {
	background: #e6e6e9;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E6E6E9), color-stop(100%, #d9d9dd));
	background:-webkit-linear-gradient(top, #E6E6E9; 0%, #d9d9dd 100%);
	background:linear-gradient(to bottom, #E6E6E9; 0%, #d9d9dd 100%);
	background-repeat: no-repeat;
	
}

.panel1 {
	background:#d9d9dd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9d9dd), color-stop(100%, #ccccd0));
	background: -webkit-linear-gradient(top, #d9d9dd 0%, #ccccd0 100%);
	background: linear-gradient(to bottom, #d9d9dd 0%, #ccccd0 100%);
	background-repeat: no-repeat;
}

.panel2 {
	background: #ccccd0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccccd0), color-stop(100%, #b9b9be));
	background: -webkit-linear-gradient(top, #ccccd0 0%, #b9b9be 100%);
	background: linear-gradient(to bottom, #ccccd0 0%, #b9b9be 100%);
	background-repeat: no-repeat;
}
.panel3 {
	background: #b9b9be;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b9b9be), color-stop(100%, #a6a6ac));
	background: -webkit-linear-gradient(top, #b9b9be 0%, #a6a6ac 100%);
	background: linear-gradient(to bottom, #b9b9be 0%, #a6a6ac 100%);
	background-repeat: no-repeat;
}

.panel4 {
	background: #a6a6ac;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6a6ac), color-stop(100%, #939399));
	background: -webkit-linear-gradient(top, #a6a6ac 0%, #939399 100%);
	background: linear-gradient(to bottom, #a6a6ac 0%, #939399 100%);
	background-repeat: no-repeat;
}

.panel5 {
	background: #939399;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #939399), color-stop(100%, #86868d));
	background: -webkit-linear-gradient(top, #939399 0%, #86868d 100%);
	background: linear-gradient(to bottom, #939399 0%, #86868d 100%);
	background-repeat: no-repeat;
}

.panel6 {
	background: #86868d;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86868d), color-stop(100%, #73737a));
	background: -webkit-linear-gradient(top, #86868d 0%, #73737a 100%);
	background: linear-gradient(to bottom, #86868d 0%, #73737a 100%);
	background-repeat: no-repeat;
}

.panel7 {
	background: #73737a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #73737a), color-stop(100%, #6c6c74));
	background: -webkit-linear-gradient(top, #73737a 0%, #6c6c74 100%);
	background: linear-gradient(to bottom, #73737a 0%, #6c6c74 100%);
	background-repeat: no-repeat;
}

.panel8 {
	background: #6c6c74;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c6c74), color-stop(100%, #66666e));
	background: -webkit-linear-gradient(top, #6c6c74 0%, #66666e 100%);
	background: linear-gradient(to bottom, #6c6c74 0%, #66666e 100%);
	background-repeat: no-repeat;
}

.panel9 {
	background: #66666e;
}

.section-bg,
.layer-object {
	position:absolute;
	z-index: 1;
}

.code {
	background:rgba(0,0,0,0.2);
}

.pagination {
	position:fixed;
	right:20px;
	top: 50%;
  	transform: translateY(-50%);
	font-size:1.4em;
	z-index: 10;
}
.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	position:relative;
	padding:4px;
}
.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.pagination a:hover .hover-text {
	opacity: 1;
}
.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}

/*Назва шрифту і його колір на кожній секції*/
.shrift  {	
	font-family: Times New Roman, serif;
	font-style: italic;
	font-weight: bold;	
}


.social-corner {
	position: absolute;
	top:18px;
	right:40px;
}
.social-corner iframe:first-child {
	margin-right:3px;
}


@media (max-width:800px) {
	h1 {
		font-size:15vw;
	}
	h2 {
		font-size:12vw;
	}
	.inner {
		width:70%;

	}
}


.link7 a,
.link8 a,
.link9 a {
	opacity: 1;
	padding-bottom: 50px;
	color: black;
}

.color-block1{
	background-color: #293B45;
	margin: 50px;
	padding: 50px;
	display: block;
	opacity: 0.8;
	color: white;
}

.color-block2{
	background-color: #000000;
	margin: 50px;
	padding: 50px;
	opacity: 0.8;
	color: white;
}

.color-block3{
	background-color: #ffffff;
	margin: 50px;
	padding: 50px;
	opacity: 0.8;
	color: black;
}

.color-block4{
	background-color: white;
	margin: 50px;
	padding: 50px;
	opacity: 0.8;
	color: #4e342e;
}

	
.color-block5{
	background-color:white;
	margin: 50px;
	padding: 50px;
	opacity: 0.8;
	color: black;
}

.color-block6{
	background-color: white;
	margin: 50px;
	padding: 50px;
	opacity: 0.8;
	color: black;
}

.color-block7{
	background-color: white;
	margin: 50px;
	padding: 50px;
	opacity: 0.8;
	color: black;
}

.color-block8{
	background-color: white;
	margin: 50px;
	padding: 50px;
	opacity: 0.8;
	color:  #1C4062;
}

.color-block9{
	background-color: black;
	margin: 50px;
	padding: 50px;
	opacity: 0.8;
	color: white;
}
.color-block10{
	background-color: #4e342e;
	margin: 50px;
	padding: 50px;
	opacity: 0.9;
	color: white;
}

.color-block3 a {
	color: black;
}

.color-block4 a {
	color: #4e342e;
}

.color-block5 a {
	color: black;
}

.color-block6 a {
	color: black;
}

.color-block7 a {
	color: black;
}

.color-block8 a {
	color:#1C4062;
}

.color-block9 a {
	color: white;
}

.color-block3 a:visited {
	color: black;
}

.color-block4 a:visited {
	color: #4e342e;
}

.color-block5 a:visited, 
.color-block6 a:visited,  
.color-block7 a:visited {
	color: black;
}

.color-block8 a:visited {
	color:#1C4062;
}

.color-block9 a:visited {
	color: white;
}

.link-space {
	margin-top: 10px;
}








